html body {
  background-color: 384e77;
  margin: 0px;
  height: 100%;
}

h1 {
  font-weight: normal;
  font-size: 300%;
  margin: 0%;
  text-align: center;
  background-color: white;
  font-family: "Playfair Display SC", serif;
}

h2 {
  text-align: center;
  color: #35728b;
  margin-top: 1%;
  font-size: 290%;
  font-family: "Lato", sans-serif;
}
#services h2 {
  color: white;
}
#flooring h2 {
  padding-bottom: 10%;
}
#contactUs h2 {
  margin-left: 0%;
  margin-right: 40%;
  padding-bottom: 5%;
}
header h3 {
  font-weight: normal;
  font-family: "Playfair Display SC", serif;
  font-size: 250%;
}

h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 200%;
  text-align: center;
  margin-top: 5%;
}

h4 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  margin-top: 45px;
  margin-right: 1px;
  margin-left: 38px;
  background-color: #35728b;
  padding: 9px;
  text-align: center;
  position: relative;
  float: left;
}
.contactInfo {
  background-color: rgba(255, 255, 255, 0.753);
  top: 30%;
  margin-right: 40%;
  margin-left: 15%;
  position: absolute;
  width: 70%;
  height: 350px;
  border: 15px solid #1a6889;
}
.truckpic {
  height: 540px;
  width: 100%;
  position: initial;
}

.email-sec {
  float: right;
  position: absolute;
  top: 60%;
  left: 25%;
  width: 50%;
  height: 65px;
  background-color: #1a6889;
}
.far {
  color: black;
  margin-left: 12%;
  margin-top: 4%;
  font-size: 3.3vmin;
}
.about {
  padding-left: 10%;
  padding-right: 8%;
  height: 350px;
}
.smll-text {
  font-size: 200%;
  font-family: "Open Sans Condensed", sans-serif;
}

#services {
  background-color: #1a6889;
  height: 700px;
}
#services h2 {
  background-color: #1a6889;
}
.service-img {
  width: 50%;
}
.img-ser {
  float: left;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 5%;
  height: 250px;
  width: 200px;
}
.img-ser-one {
  float: left;
  margin-top: 5%;
  margin-left: 30%;
  height: 250px;
  width: 200px;
}
.service-icon {
  float: right;
  position: relative;
  width: 50%;
  top: -200px;
}
.service-text {
  margin-left: 0%;
  margin-right: 5%;
}
section .fas {
  font-size: 120%;
  margin-top: 8%;
  margin-left: 10%;
  text-transform: uppercase;
}
#flooring {
  height: 2300px;
  background-color: #f8f8ff;
}
.columns {
  float: left;
  margin: 15px;
  margin-top: -30px;
  margin-left: 190px;
  margin-right: 50px;
  height: 20%;
}
.flooring-img {
  width: 330px;
  height: 260px;
  border-radius: 10px;
}
.flooring-img {
  border: 5px solid #535353;
}
.flooring-img:hover {
  border: 3px solid #0066cc;
}

.descripcion {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
}
#contactUs {
  background-color: #1a6889;
  height: 900px;
}
.in-form {
  background-color: #2286b16b;
  margin-left: 25%;
  width: 700px;
  height: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#contactUs h2 {
  color: #ffffff;
}
.form-group input {
  display: block;
  color: black;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 30px;
  border: 1px solid #000000a8;
}
#fName {
  text-align: center;
  margin-top: 4%;
  margin-left: 38%;
}
.text-ph {
  position: relative;
  margin-left: -60%;
  font-size: 150%;
}
#pName {
  text-align: center;
  margin-left: 38%;
}
.ph-num {
  position: relative;
  margin-left: -60%;
  font-size: 150%;
}
.mess-one {
  text-align: center;
  position: absolute;
  margin-left: 22%;
  font-size: 150%;
}
.mess-two {
  margin-top: 7%;
  margin-left: 33%;
  margin-bottom: 2%;
  border: 1px solid #000000a8;
}
.but {
  font-size: 150%;
  height: 60px;
  width: 49%;
  margin-left: 27%;
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 2%;
  margin-left: 32%;
  border-radius: 8px;
}
#status.success {
  background-color: rgba(47, 253, 19, 0.699);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgba(250, 59, 59, 0.699);
  color: white;
  animation: status 4s ease forwards;
}
#bttm-footer {
  height: 120px;
  background-color: #c7c7c7;
}
.lft-sec {
  float: left;
  position: static;
  padding-top: 1%;
  margin-left: 2%;
}
.ctr-sec {
  margin-top: 1%;
  margin-right: 40%;
  margin-left: 30px;
  border-left-width: 2px #383838;
  position: static;
  float: right;
}
h5 {
  padding: 3px;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 1153px) {
  .email-sec {
    width: 55%;
  }
  .far {
    margin-top: 5%;
    margin-left: 14%;
    font-size: 3vmin;
  }

  #services {
    background-color: #1a6889;
    height: 900px;
  }
  .service-img {
    width: 50%;
  }
  .img-ser {
    float: left;
    margin-top: 5%;
    margin-left: 20%;
    height: 170px;
    width: 200px;
  }
  .img-ser-one {
    float: left;
    margin-top: 5%;
    margin-left: 20%;
    height: 170px;
    width: 200px;
  }
  .service-icon {
    float: right;
    position: relative;
    width: 50%;
    top: -300px;
  }
  .service-text {
    margin-left: 0%;
    margin-right: 5%;
  }
  #flooring {
    height: 1800px;
  }
  .flooring-img {
    height: 250px;
    width: 200px;
  }
  .columns {
    margin-left: 20%;
  }
  .mess-one {
    margin-left: 27%;
  }
  .in-form {
    margin-left: 20%;
  }
}

@media (max-width: 950px) {
  .email-sec {
    left: 20%;
    width: 60%;
  }
  .far {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 3vmin;
  }

  .in-form {
    margin-left: 13%;
  }
  .mess-one {
    margin-left: 300px;
  }
}

@media (max-width: 854px) {
  h1 {
    font-size: 280%;
  }
  header h3 {
    font-weight: normal;
    font-family: "Playfair Display SC", serif;
    font-size: 220%;
  }

  .email-sec {
    left: 15%;
    top: 65%;
    width: 70%;
    height: 60px;
  }
  .far {
    font-size: 2.5vmin;
    margin-top: 5%;
    margin-left: 17%;
  }

  .columns {
    margin-left: 12%;
  }
  section .fas {
    font-size: 110%;
    margin: 30px;
    text-transform: uppercase;
  }

  .in-form {
    margin-left: 8%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 250%;
    margin-top: 2%;
  }
  .far {
    margin-left: 10%;
    margin-top: 5%;
  }
  .email-sec {
    width: 65%;
    top: 55%;
    left: 18%;
  }
  header h3 {
    font-size: 180%;
  }

  section .fas {
    font-size: 110%;
    margin: 20px;
    margin-top: 10%;
    text-transform: uppercase;
  }
  .service-text {
    font-size: 150%;
    margin-left: 0%;
    margin-bottom: 10%;
    margin-right: 5%;
  }
  .img-ser {
    margin-top: 10%;
  }
  .img-ser-one {
    margin-top: 10%;
  }
  .flooring-img {
    height: 230px;
    width: 190px;
  }
  .columns {
    margin-left: 90px;
  }

  .in-form {
    margin-left: 14%;
    height: 50%;
    width: 70%;
  }
  #fName {
    margin-top: 4%;
    margin-left: 35%;
  }
  .text-ph {
    font-size: 150%;
    margin-left: -50%;
  }
  #pName {
    margin-left: 35%;
  }
  .ph-num {
    font-size: 140%;
    margin-left: -48%;
  }
  .mess-one {
    margin-left: 30%;
  }
  .mess-two {
    margin-left: 27%;
  }
  #status {
    width: 90%;
    max-width: 400px;
    margin-left: 20%;
  }
}
@media (max-width: 700px) {
  #flooring {
    height: 3000px;
  }

  .columns {
    margin-top: -2%;
    margin-left: 35%;
    margin-right: 50px;
    margin-bottom: -45%;
  }
  .ctr-sec {
    margin-right: 0%;
  }
}

@media (max-width: 600px) {
  .contactInfo {
    margin-top: 15%;
  }
  .email-sec {
    margin-top: 15%;
    left: 15%;
    width: 70%;
    height: 50px;
  }
  .far {
    font-size: 2.5vmin;
  }
  .smll-text {
    font-size: 150%;
  }
  .img-ser {
    width: 55%;
  }
  .img-ser-one {
    width: 55%;
  }
  section .fas {
    font-size: 100%;
    margin-left: 20%;
    margin-top: 6%;
    text-transform: uppercase;
  }
 
  .flooring-img {
    width: 230px;
    height: 220px;
    border-radius: 10px;
  }
  .columns {
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 50px;
    margin-bottom: -53%;
  }
  #fName {
    margin-top: 4%;
    margin-left: 30%;
  }
  .text-ph {
    font-size: 150%;
    margin-left: -35%;
  }
  #pName {
    margin-left: 30%;
  }
  .ph-num {
    font-size: 140%;
    margin-left: -38%;
  }
  .mess-one {
    margin-left: 28%;
  }
  .mess-two {
    margin-left: 20%;
  }
  .but {
    margin-top: 5%;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .email-sec {
    margin-top: 20%;
    left: 13%;
    width: 80%;
  }
  .far {
    margin-top: 5%;
    font-size: 2.7vmin;
  }
  section .fas {
    font-size: 100%;
    margin-left: 22%;
    margin-top: 6%;
    text-transform: uppercase;
  }
  .flooring-img {
    width: 230px;
    height: 220px;
    border-radius: 10px;
  }
  .columns {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 50px;
    margin-bottom: -62%;
  }
  .ctr-sec {
    margin-right: 5%;
  }
}
@media (max-width: 428px) {
  .far {
    margin-top: 8%;
  }
  .email-sec {
    left: 10%;
    height: 15%;
    width: 80%;
  }
  #fName {
    margin-left: 20%;
  }
  .text-ph {
    margin-left: -25%;
  }
  #pName {
    margin-left: 20%;
  }
  .ph-num {
    margin-left: -26%;
  }
  .mess-one {
    margin-left: 25%;
  }
  .mess-two {
    margin-top: 10%;
    margin-left: 8%;
  }
  .but {
    margin-top: 5%;
    margin-left: 25%;
    height: 50px;
  }
  #status {
    width: 90%;
    max-width: 250px;
    margin-left: 20%;
  }
}
@media (max-width: 414px) {
  .contactInfo {
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 35%;
  }
  .far {
    margin-left: 12%;
    font-size: 3vmin;
  }
  .email-sec {
    width: 85%;
  }
  #flooring h2{
    position: absolute;
    left: 0%;
    right: 0%;
   margin-left: 20px;
   margin-right: 60px;
  }
  .columns {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 50px;
    margin-bottom: -75%;
  }
  #contactUs {
    background-color: #1a6889;
    height: 750px;
  }
  #contactUs h2{
    margin-right: 0%;
    margin-left: 50px;
  }
  .in-form {
    height: 60%;
    width: 80%;
  }
}
@media (max-width: 390px) {
  .contactInfo {
    margin-left: 8%;
    margin-top: 12%;
    width: 85%;

  }
  .far {
    margin-left: 10%;
    font-size: 3.5vmin;
  }
  .email-sec {
    width: 85%;
  }
  .columns {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 50px;
    margin-bottom: -75%;
  }
  #contactUs {
    background-color: #1a6889;
    height: 750px;
  }
  .in-form {
    margin-left: 10%;
    height: 60%;
    width: 80%;
  }
}
@media (max-width: 375px) {
  header h3 {
    font-size: 6vmin;
  }
  .contactInfo {
    margin-top: 30%;
  }
  .far {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 3.2vmin;
  }
  .email-sec {
    margin-top: 10%;
    left: 10%;
    width: 85%;
    height: 15;
  }
  .columns {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 50px;
    margin-bottom: -78%;
  }
}
@media (max-width: 360px) {
  .contactInfo {
    margin-top: 30%;
    height: 40%;
  }
  .columns {
    margin-left: 20%;
    margin-bottom: -85%;
  }
  .ctr-sec {
    margin-right: 1%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
input {
  display: none;
}
.container {
  width: 100%;
  text-align: center;
}

.top-content {
  background-color: lightgray;
}
/*nav bar section*/
nav {
  background: #1a6889;
  height: 80px;
}
nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: #ffffff;
  font-size: 10px;
  padding: 0 5x;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: none;
}

nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s linear;
}

label #btn,
label #cancel {
  color: white;
  font-size: 35px;
  float: right;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav ul li a {
  font-size: 17px;
}

@media (max-width: 480px) {
  label #btn {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    background: #1a6889;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 30px;
  }
}
#check:checked ~ ul {
  left: 0;
}

#check:checked ~ label #btn {
  display: none;
}

#check:checked ~ label #cancel {
  display: block;
}
@-moz-document url-prefix() {
  .far {
    color: white;
    margin-top: 4%;
    margin-left: 18%;
    font-size: 2.5vmin;
  }
  .mess-one {
    text-align: center;
    position: absolute;
    margin-left: 23%;
    font-size: 150%;
  }
  .mess-two {
    margin-left: 27%;
  }
  #flooring h2{
    margin-left: 35%;
  }
  #flooring{
    height: 1600px;
  }

  .columns {
    height: auto;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #contactUs h2{
    margin-right: 10px;
  }
  @media (max-width: 1300px) {
    #flooring h2{
      margin-left: 30%;
    }
    .columns {
      margin-left: 3%;
      margin-top: 5%;
      margin-bottom: 5%;

    }
  .flooring-img {
    width: 300px;
    height: 260px;
    border-radius: 10px;
  }
 
  }
  @media (max-width: 1160px) {

    .columns {
      margin-left: 3%;
      margin-top: 5%;
      margin-bottom: 5%;

    }
  .flooring-img {
    width: 250px;
    height: 260px;
    border-radius: 10px;
  }
 
  }


  
  @media (max-width: 990px) {
    header h3 {
      font-size: 5vmin;
    }
    .far {
      margin-top: 5%;
      margin-left: 15%;
      font-size: 2.3vmin;
    }
    #flooring { 
      height: 2400px;
    }
    .columns {
      margin-left: 9%;
      margin-top: 5%;
      margin-bottom: 5%;

    }
  .flooring-img {
    width: 240px;
    height: 230px;
    border-radius: 10px;
  }
    .in-form {
      margin-left: 13%;
    }
    .mess-one {
      margin-left: 300px;
    }

    section .fas {
      font-size: 120%;
      margin: 35px;
    }
  }

  @media (max-width: 854px) {
    .email-sec {
      width: 70%;
    }
    .far {
      margin-top: 5%;
      margin-left: 15%;
      font-size: 2.3vmin;
    }
    section .fas {
      font-size: 110%;
      margin-top: 3%;
      margin-left: 25%;
    }
   
    #flooring h2{
      margin-left: 20%;
    }
    .columns {
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;

    }
  }
  @media (max-width: 768px) {
    .far {
      margin-top: 5%;
      margin-left: 11%;
    }
    .email-sec {
      left: 10%;
      margin-top: 10%;
      width: 80%;
    }
    #flooring{
      height: 3900px;
      }
      .flooring-img {
        width: 370px;
        height: 260px;
        border-radius: 10px;
      }
      .columns {
        margin-left: 20%;
        margin-bottom: 5%;
  
      }
    .in-form {
      height: 55%;
      width: 70%;
    }
    .mess-one {
      margin-left: 30%;
    }
    .mess-two {
      margin-left: 20%;
    }
  }

 
  @media (max-width: 670px) {
    header h3 {
      font-size: 4.7vmin;
    }
    .far {
      font-size: 2vmin;
    }
    .email-sec {
      margin-top: 15%;
      margin-left: -4%;
      width: 55%;
    }
    #flooring{
      height: 3700px;
      }
      .columns {
        margin-left: 20%;
        margin-bottom: 5%;
      }
    .in-form {
      width: 75%;
    }
    .but {
      margin-left: 30%;
    }
  }

  @media (max-width: 585px) {
    header h3 {
      font-size: 4.7vmin;
    }
    .far {
      margin-top: 4%;
      font-size: 2vmin;
    }

    .email-sec {
      margin-top: 30%;
      margin-left: 0%;
      width: 55%;
    }
    
    .columns {
      margin-left: 20%;
      margin-bottom: 5%;

    }
    .mess-two {
      width: 70%;
      margin-left: 15%;
    }
    .but {
      margin-left: 25%;
    }
  }

  @media (max-width: 480px) {
    .contactInfo {
      height: 30%;
    }
    .email-sec {
      margin-top: 10%;
      height: 18%;
      width: 80%;
    }
    .far {
      margin-top: 7%;
      margin-left: 15%;
    }
    #fName {
      margin-left: 25%;
    }
    .text-ph {
      margin-left: -25;
    }
    #pName {
      margin-left: 25%;
    }
    .ph-num {
      margin-left: -30%;
    }
    .mess-one {
      margin-left: 27%;
    }
    .mess-two {
      margin-top: 10%;
      margin-left: 15%;
    }
    .but {
      margin-top: 5%;
      margin-left: 25%;
      height: 50px;
    }
  }
  @media (max-width: 428px) {
    .far {
      margin-top: 8%;
    }
    .email-sec {
      left: 10%;
      height: 15%;
      width: 80%;
    }
    section .fas {
      font-size: 80%;
      margin-top: 3%;
      margin-left: 25%;
    }
    #flooring h2 {
      position: absolute;
    }
    #flooring {
      height: 3200px;
    }
    .columns {
      margin-left: 5%;
    }
    #contactUs h2 {
      margin-left: 50px;
      margin-right: 20px;
    }
    #fName {
      margin-left: 20%;
    }
    .text-ph {
      margin-left: -25%;
    }
    #pName {
      margin-left: 20%;
    }
    .ph-num {
      margin-left: -26%;
    }
    .in-form {
      height: 50%;
    }
    .mess-one {
      margin-left: 25%;
    }
    .mess-two {
      margin-top: 10%;
      margin-left: 15%;
    }
    .but {
      margin-top: 5%;
      margin-left: 25%;
      height: 50px;
    }
    #status {
      width: 90%;
      max-width: 250px;
      margin-left: 20%;
    }
  }
  @media (max-width: 414px) {
  
    .contactInfo {
      margin-top: 10%;
    }
    
    .far {
      margin-top: 6%;
      margin-left: 7%;
      font-size: 2.3vmin;
      height: 10%;
    }
    #services{
      height: 1100px;
    }
    section .fas {
      font-size: 3vmin;
      margin-top: 7%;
      margin-left: 15%;
      text-transform: uppercase;
    }
    #flooring h2{
     margin-right: 60px;
     text-align: center;
     padding-bottom: 0%;
     position: absolute;
     }
    #flooring{
      height: 3300px;
    }
    .in-form{
      height: 64%;
    }
    #fName {
      margin-left: 18%;
    }
    .text-ph {
      font-size: 5vmin;
      margin-left: -25;
    }
    #pName {
      margin-left: 18%;
    }
    .ph-num {
      font-size: 5vmin;
      margin-left: -25%;
    }
    .mess-one {
      font-size: 5vmin;
    }
    .but {
      margin-top: 5%;
      margin-left: 25%;
      height: 50px;
    }
    h5{
     font-size: 70%;
    }
  }
  @media (max-width: 390px) {
    .columns {
      margin-top: 17%;
      margin-left: 2%;
      }
    .service-text {
      font-size: 4.5vmin;
      margin-left: 0%;
      margin-right: 5%;
    }
    section .fas {
      font-size: 3.4vmin;
      margin-top: 8%;
      margin-left: 10%;
      text-transform: uppercase;
    }

    .text-ph {
      margin-left: -25;
      font-size: 5vmin;
    }

    .ph-num {
      font-size: 5vmin;
      margin-left: -25%;
    }
    .mess-one {
      font-size: 5vmin;
    }
    .but {
      margin-top: 5%;
      margin-left: 25%;
      height: 50px;
      font-size: 5vmin;
    }
  }

  @media (max-width: 375px) {

    .flooring-img{
      width: 350px;
    }
    .contactInfo {
      margin-top: 20%;
    }
    .mess-two {
      margin-left: 10%;
      width: 80%;
    }
    #status {
      margin-left: 15%;
    }
  }
  @media (max-width: 360px) {
    #flooring h2{
      position: absolute;
      height: 100px;
    }
    .flooring-img{
      width: 335px;
    }
  }
}
