html body {
  background-color: 384e77;
  margin: 0px;
  height: 100%;
}
section {
  background-color: white;
  text-align: center;
  margin-top: 10px;
  height: 380px;
}
h1 {
  text-align: center;
  background-color: white;
}
h2 {
  text-align: center;
  color: #35728b;
  margin-top: 80px;
  font-size: 40px;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 45px;

}
.smll-text{
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;    
}

h4 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  margin-top: 45px;
  margin-right: 1px;
  margin-left: 38px;
  background-color: #35728b;
  padding: 9px;
  text-align: center;
  position: relative;
  float: left;
}
.truckpic {
  height: 540px;
  width: 100%;
  position: static;
}
.about{
    padding-left: 85px;
    padding-right: 85px;
}

.contactInfo {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.753);
  top: 0px;
  margin-top: 200px;
  margin-right: 400px;
  margin-left: 250px;
  width: 70%;
  height: 350px;
  border: 15px solid #1a6889;
}
.number-sec{
position: absolute;
background-color: #1a6889;
float: left;
top: 395px;
left: 310px;
width: 259px;
height: 55px;
}
.fas {
    color: white;
    margin: 12px;
    font-size: 28px;   
    letter-spacing: 2px;
}
.email-sec{
    float: right;
    position: absolute;
    top: 395px;
    left: 680px;
    width: 470px;
    height: 55px;
    background-color: #1a6889;
}
.far{
    color: white;
    margin: 12px;
    font-size: 28px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
input {
  display: none;
}
.container {
  width: 100%;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 0px 0;
}
h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: crimson;
  top: 38px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
}
.top-content {
  background-color: lightgray;
}
/*nav bar section*/
nav {
  background: #1a6889;
  height: 80px;
}
nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  padding: 0 10px;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: none;
}

nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s linear;
}

label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav ul li a {
  font-size: 17px;
}

@media (max-width: 860px) {
  label #btn {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    background: #0d0d0d;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
}
#check:checked ~ ul {
  left: 0;
}

#check:checked ~ label #btn {
  display: none;
}

#check:checked ~ label #cancel {
  display: block;
}
